.container {
    width: 100%;
    height: 100%;
  .wrapper {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(300*var(--px));
    height: calc(90*var(--px));

    .load-items {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        overflow-x: auto;     
        overflow-y: hidden;
        gap: calc(10*var(--px));
        scrollbar-width: none; 
        
        &::-webkit-scrollbar {
            display: none; 
        }

        .circle-progress {
            min-width: calc(90*var(--px));
            width: calc(90*var(--px));
            height: calc(90*var(--px));
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 2;
            background: conic-gradient(var(--color-primary) calc(var(--percent) * 1%), var(--color-background-90) 0);

            .value {
                position: absolute;

                .icon {
                    width: calc(50*var(--px));
                    height: auto;
                }
            }
        }

        .circle-progress::before {
            content: "";
            width: calc(78*var(--px));
            height: calc(78*var(--px));
            background: var(--color-background3);
            border-radius: 50%;
            position: absolute;
        }
    }
}

}