.container {
    width: 100%;
    height: 100%;

    .wrapper {
        top: calc(20*var(--px));
        left: 50%;
         transform: translateX(-50%);
        width: calc(500*var(--px));
        height: calc(250*var(--px));

        .id-card {
            height: 100%;
            gap: calc(15*var(--px));
            padding: calc(15*var(--px));
            background: var(--color-background-90);
            border-radius: calc(25*var(--px));
            border: 1px solid var(--color-primary);

            .profile {
                width: calc(150*var(--px));
                height: calc(150*var(--px));
                border-radius: calc(25*var(--px));
                border: 1px solid var(--color-primary);
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .detail {
                gap: calc(10*var(--px));
                width: calc(300*var(--px));
                .name {
                    div:nth-child(1) {
                        font-size: calc(14*var(--px));
                        text-align: center;
                        color: var(--color-text-secondary);
                    }
                     div:nth-child(2) {
                        width: 100%;
                        font-size: calc(18*var(--px));
                        text-align: center;
                        background: var(--color-border-50);
                        padding: calc(6*var(--px)) 0;
                        border-radius: calc(10*var(--px));
                     }
                }
                .bhg {
                   gap: calc(10*var(--px));
                   .birth,.heights,.gender {
                    div:nth-child(1) {
                         font-size: calc(14*var(--px));
                        text-align: center;
                        color: var(--color-text-secondary);
                    }
                    div:nth-child(2) {
                        width: calc(94*var(--px));
                        font-size: calc(10*var(--px));
                        text-align: center;
                        background: var(--color-border-50);
                        padding: calc(6*var(--px)) 0;
                        border-radius: calc(10*var(--px));
                     }
                   }
                }
                .social {
                    img {
                        width: calc(20*var(--px));
                        bottom: calc(2.5*var(--px));
                        left: calc(10*var(--px));;
                    }
                    div:nth-child(1) {
                         font-size: calc(14*var(--px));
                        text-align: center;
                        color: var(--color-text-secondary);
                    }
                    div:nth-child(2) {
                        width: 100%;
                        font-size: calc(12*var(--px));
                        text-align: center;
                        background: var(--color-border-50);
                        padding: calc(6*var(--px)) 0;
                        border-radius: calc(10*var(--px));
                     }
                }
                 .status {

                    img {
                        width: calc(20*var(--px));
                        bottom: calc(2.5*var(--px));
                        left: calc(10*var(--px));;
                    }
                    div:nth-child(1) {
                         font-size: calc(14*var(--px));
                        text-align: center;
                        color: var(--color-text-secondary);
                    }
                    div:nth-child(2) {
                        width: 60%;
                        font-size: calc(12*var(--px));
                        text-align: center;
                        background: var(--color-border-50);
                        padding: calc(6*var(--px)) 0;
                        border-radius: calc(10*var(--px));
                     }
                }
            }
        }
    }
}