#app {
    width: 100vw;
    height: 100vh;
    padding: calc(40 * var(--px));
    position: relative;
    overflow: hidden;

    background-image: url("https://i.imgur.com/iPTAdYV.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
