.container {
    width: 100%;
    height: 100%;

    .wrapper {
        left: 50%;
        bottom: 50%;
        transform: translateX(-50%);
        width: calc(800*var(--px));
        height: calc(300*var(--px));

        .scoreboard {
            width: 100%;
            height: 100%;

            .logo {
                width: calc(200*var(--px));
                left: calc(210*var(--px));
                z-index: 1;
            }

            .box {
                width: 100%;
                height: calc(200*var(--px));
                gap: calc(5*var(--px));
                bottom: 0;

                .profile {
                    width: calc(200*var(--px));
                    height: calc(200*var(--px));
                    border: 1px solid var(--color-primary);
                    border-radius: calc(15*var(--px));
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .list {
                    width: calc(560*var(--px));
                    height: 100%;
                    border: 1px solid var(--color-primary);
                    border-radius: calc(15*var(--px));
                    background: var(--color-background-90);
                    padding: calc(20*var(--px));

                    .name {
                        width: 100%;
                        background: var(--color-border-50);
                        border-radius: calc(15*var(--px));
                        padding: calc(10*var(--px)) 0;
                        text-shadow: 0 0 calc(5*var(--px)) var(--color-text-primary);
                    }

                    .box-list {
                        width: 100%;
                        font-size: calc(15*var(--px));
                        gap: calc(5*var(--px));
                        margin-top: calc(10*var(--px));

                        .sec {
                            width: calc(470*var(--px));
                            height: 100%;
                            gap: calc(10*var(--px));

                            .job,
                            .phone,
                            .status,
                            .online {
                                background: var(--color-border-50);
                                text-align: center;
                                border-radius: calc(20*var(--px));
                                padding: calc(5*var(--px)) 0;
                            }

                            .job {
                                width: calc(210*var(--px));
                            }

                            .phone {
                                width: calc(100*var(--px));
                            }

                            .status {
                                width: calc(40*var(--px));
                            }

                            .online {
                                width: calc(70*var(--px));
                            }

                            .flex-gap {
                                gap: calc(10*var(--px));
                            }

                            .icon {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: calc(40*var(--px));
                                height: calc(40*var(--px));
                                border-radius: 100%;
                                background: var(--color-primary50);
                                img {
                                    width: calc(25*var(--px));
                                }
                            }
                        }

                        .id {
                            width: calc(100*var(--px));
                            height: calc(95*var(--px));
                            background: var(--color-border-50);
                            border-radius: calc(10*var(--px));

                            .text-id {
                                color: var(--color-text-secondary);
                            }
                        }
                    }
                }
            }
        }

    }
}