.container {
    width: 100%;
    height: 100%;

    .wrapper {
        bottom: 0;
        width: calc(420*var(--px));
        height: calc(110*var(--px));

        .aridrop-delete {
            width: 100%;
            height: 100%;
            padding: calc(10*var(--px));
            background: var(--color-background-90);
            border-radius: calc(15*var(--px));
            gap: calc(15*var(--px));
            .time {
                gap: calc(15*var(--px));
            }
            .pulsing {
                width: calc(15*var(--px));
                height: calc(15*var(--px));
                aspect-ratio: 1;
                border-radius: 50%;
                background: var(--color-primary);
                box-shadow: 0 0 0 0 var(--color-primary);
                animation: l1 1s infinite;

                @keyframes l1 {
                    100% {
                        box-shadow: 0 0 calc(10*var(--px)) 0 var(--color-primary)
                    }
                }
            }
            .aridrop {
                width: calc(70*var(--px));
                height: calc(70*var(--px));
                background: var(--color-secondary2);
                border: var(--color-primary) 1px solid;
                border-radius: 100%;

            }

            .box-aridrop {
                gap: calc(10*var(--px));

                .text-aridrop {
                    font-size: calc(5*var(--px));
                    font-size: 10px;
                }
            }

            .progress {
                background: var(--color-background2);
                justify-content: flex-start;
                border-radius: 100px;
                align-items: center;
                position: relative;
                height: calc(10*var(--px));
                width: calc(300*var(--px));

                .progress-value {
                    border-radius: calc(133*var(--px));
                    background: var(--color-primary);
                    height: calc(10*var(--px));
                    width: var(--percent);
                }
            }
        }
    }
}