@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --scale: 1;
  --font-family: "Chakra Petch", sans-serif;
  --transitionFactor: 1;
  /* Color */
  --color-primary: #FFB20D;
  --color-primary75: rgb(255, 178, 13, 0.75);
  --color-primary50: rgb(255, 178, 13, 0.50);
  --color-secondary: #FFCC00;
  --color-secondary2: #CD900E;
  --color-white: #FFF;
  --color-background: #363232;
  --color-background1:rgb(0, 0, 0);
  --color-background2: #433F3F;
  --color-background3: #1E222B;
  --color-background-90: rgb(30, 34, 43,0.90);
  --color-border-1: #524F48;
  --color-border-50: rgb(82, 79, 72,0.50);
  --color-border-2: rgb(82, 79, 72,0.30);
  --color-red: #FF383C;
  --color-green: #00FF22;
  --color-yellow: #FFCC00;
  --color-green2: #00C8B3;
  --color-text-primary: rgba(255, 255, 255, 0.8);
  --color-text-secondary: rgba(255, 255, 255, 0.6);
  --radius: 10;
  --base-screen-height: 1440;
  --px: calc(1vh / var(--base-screen-height) * 100 * var(--scale));
  --border-radius: calc(var(--radius) * var(--px));
}

*,
::after,
::before {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(88, 88, 88, 0.8);
  border-radius: 0.4vh;
}

body {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: calc(20 * var(--px));
}

#app {
  width: 100vw;
  height: 100vh;
  padding: calc(40 * var(--px));
  position: relative;
  overflow: hidden;
  background-image: url("https://i.imgur.com/iPTAdYV.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  height: 100%;
}
.container .wrapper {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(271 * var(--px));
  height: calc(66 * var(--px));
}
.container .wrapper .ui_text {
  position: relative;
}
.container .wrapper .ui_text .cicle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(66 * var(--px));
  height: calc(66 * var(--px));
  font-size: calc(40 * var(--px));
  font-weight: 900;
  background: #1E222B;
  border-radius: 50%;
  border: calc(5 * var(--px)) solid var(--color-primary75);
}
.container .wrapper .ui_text .box {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: calc(10 * var(--px));
  padding: calc(10 * var(--px)) calc(20 * var(--px));
  width: calc(217 * var(--px));
  height: calc(66 * var(--px));
  border-radius: calc(15 * var(--px));
  background: linear-gradient(60deg, rgba(202, 147, 31, 0.7), rgba(116, 88, 30, 0.7), rgba(11, 8, 2, 0.35));
}
.container .wrapper .ui_text .box span {
  width: calc(4 * var(--px));
  height: calc(45 * var(--px));
  background: var(--color-primary);
  box-shadow: 0 0 calc(5 * var(--px)) 0 var(--color-primary);
}
.container .wrapper .ui_text .box .box-info {
  font-size: calc(22 * var(--px));
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-gray {
  color: #999;
}

.text-red {
  color: #e74c3c;
}

.text-green {
  color: #2ecc71;
}

.text-blue {
  color: #3498db;
}

.border-test {
  border-width: 1px;
  border-style: solid;
  border-color: #e74c3c;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.poem::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  border-radius: calc(10 * var(--px));
  background-color: rgba(0, 0, 0, 0.3);
}

.poem::-webkit-scrollbar {
  width: calc(5 * var(--px));
  background-color: rgba(0, 0, 0, 0.3);
}

.poem::-webkit-scrollbar-thumb {
  border-radius: calc(10 * var(--px));
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  background-color: var(--color-primary);
}

.poem-x::-webkit-scrollbar-thumb {
  border-radius: calc(10 * var(--px));
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  background-color: var(--color-primary);
}

.poem-x::-webkit-scrollbar-track {
  border-radius: calc(10 * var(--px));
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.poem-x::-webkit-scrollbar {
  width: calc(1 * var(--px));
  height: calc(5 * var(--px));
  background-color: rgba(0, 0, 0, 0.3);
}
