.container {
    width: 100%;
    height: 100%;
    .wrapper {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: calc(300*var(--px));
        height: calc(50*var(--px));
        .text-ui {
            width: 100%;
            height: 100%;
            .e{
                width: calc(50*var(--px));
                height: calc(50*var(--px));
                padding: calc(5*var(--px));
                border-radius: 100%;
                border: 1px solid var(--color-primary);
                background: var(--color-background3);
            }
            .start{
                width: 90%;
                height: calc(30*var(--px));
                bottom: 0;
                right: 0;
                z-index: -1;
                font-size: calc(16*var(--px));
                color: var(--color-white);
                border: 1px solid var(--color-primary);
                border-radius: calc(5*var(--px)); ;
                background: var(--color-background-90);
            }
        }
    }
}