.container {
    width: 100%;
    height: 100%;

    .wrapper {
        bottom: 0;
        width: calc(280*var(--px));
        height: auto;

        .box-info {
            gap: calc(5*var(--px));

            .notify {
                gap: calc(10*var(--px));
                width: 100%;
                height: calc(45*var(--px));
                padding: 0 calc(20*var(--px));
                ;
                border-radius: calc(20*var(--px));
                background: var(--color-background-90);
                font-size: calc(14*var(--px));

                img {
                    width: calc(30*var(--px));
                    ;
                }

                div {
                    flex: 1;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}