.container {
    width: 100%;
    height: 100%;

    .wrapper {
        bottom: 0;
        width: calc(320*var(--px));
        height: calc(500*var(--px));

        .menu {
            width: 100%;
            height: 100%;
            gap: calc(8*var(--px));
            ;
            background: var(--color-background-90);
            border-radius: calc(16*var(--px));
            padding: calc(15*var(--px));
            ;

            .menu__title {
                gap: calc(8*var(--px));
                ;

                img {
                    width: calc(44*var(--px));
                    ;
                    height: calc(44*var(--px));
                    ;
                }

                h1 {
                    font-size: calc(24*var(--px));
                    ;
                    font-weight: 700;
                    color: var(--color-text-100);
                }
            }

            .select_ {
                gap: calc(8*var(--px));
                max-height: calc(480*var(--px));
                overflow-y: auto;
                overflow-x: hidden;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                }
                .select__item {
                    padding: calc(10*var(--px)) calc(12*var(--px));
                    border-radius: calc(8*var(--px));
                    background: var(--color-background-40);
                    border: calc(2*var(--px)) solid var(--color-background-40);
                    .select__item-text {
                        font-size: calc(16*var(--px));
                        color: var(--color-text-primary);
                    }
                }
                .select__item--active, .select__item:hover {
                    border: calc(2*var(--px)) solid var(--color-primary);
                    background: var(--color-primary50);
                }
            }

        }
    }
}