.container {
    width: 100%;
    height: 100%;
    .wrapper {
        bottom: 0;
        width: calc(450*var(--px));
        height: calc(100*var(--px));
        .drop-box {
            gap: calc(5*var(--px));
            width: 100%;
            height: 100%;
            padding: calc(10*var(--px));
            border-radius: calc(10*var(--px));
            background: var(--color-background-90);
            .items {
                gap: calc(5*var(--px));
                .box {
                    width: calc(40*var(--px));
                    height: calc(40*var(--px));
                    border-radius: 100%;
                    background: var(--color-background2);
                    img {
                        width: calc(25*var(--px));
                    }
                }
                .info {
                    background: var(--color-background2);
                }
                .success {
                    background: var(--color-green2);
                    box-shadow: 0 0 calc(15*var(--px)) 0 var(--color-green2);
                }
            }
        }
    }
}